<h2>会員一覧</h2>
<table class="table">
  <thead>
    <tr>
      <th>会員ID</th>
      <th>氏名</th>
      <th>学校名</th>
    </tr>
  </thead>
  <tbody>
    <% @customer.each do |customer| %>
    <tr>
      <td><%= customer.id %></td>
      <td><%= customer.name %></td>
      <td><%= customer.school_name %></td>
    </tr>
    <% end %>
  </tbody>
</table>

