<h2>会員詳細</h2>
<table class="table">
  <tr>
    <th>氏名</th>
    <td><%= @customer.name %></td>
  </tr>
  <tr>
    <th>学校名</th>
    <td><%= @customer.school_name %></td>
  </tr>
  <tr>
    <th>その他</th>
    <td><%= @customer.comment %></td>
  </tr>
</table>