<div class="container mt-5">
  <div class="row">
    <div class="col-md-6">
      <h2>種目追加</h2>
        <%= form_with model:@genre, url:admin_genres_path, method: :post do |f| %>
      <p>種目名</p>
      <%= f.text_field :genre %>
      <%= f.submit '追加' %>
      <% end %>
    </div>
    <div class="col-md-6">
      <h2>種目一覧</h2>
      <% @genres.each do |genre| %>
      <p><%= link_to genre.genre, edit_admin_genre_path(genre.id) %></p>
      <% end %>
    </div>
  </div>
</div>
